@media (min-width: 769px) {



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #076585;  
  background: -webkit-linear-gradient(to right, #fff, #076585); 
  background: linear-gradient(to right, #fff, #076585); 


  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  color: seashell;
}

.container img {
  border-radius: 15px;
}

.container li {
  list-style-type: none;
  padding-bottom: 1.4rem;
}

.container a {
  display: flex;
  text-align: center;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #069;
  padding: 0.5rem 0;
  border-radius: 5px;
  color: seashell;
}

.container a:hover {
  background-color: #070;
}

.links-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: #E6DADA;
background: -webkit-linear-gradient(to right, #3e549e, #3a2c79); 
background: linear-gradient(to right, #444c96, #E6DADA);

}

.links-header h1 {
  color: seashell;
}

.links-header a {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 7px;
  width: 8rem;
  border-bottom: 1px solid seashell;
}

.links-header a:hover {
  background-color: #077;
  border-bottom: 1px solid seashell;
}

.filme-listado {
  margin: 1rem auto;
  text-align: center;
}

.filme-listado h2 {
  color: seashell;
}

.filme-listado-botoes {
  margin-top: 1.5rem;
}

.filme-listado-botoes button {
  border: none;
  background-color: #045;
  margin-left: 1rem;
  color: seashell;
  padding: 0.6rem;
  width: 8rem;
  cursor: pointer;
  font-weight: 700;
}

.filme-listado-botoes button:hover {
  background-color: #065;
}

.filme-listado-botoes button a {
  text-decoration: none;
  color: seashell;
}

.filme-listado h4 {
  border: 2px solid rgb(160, 158, 157);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.filme-listado img {
  border-radius: 15px;
}

.favoritos-length-vazio {
  color: #000;
  margin-left: 7rem;
}

.favoritos-subtitulo {
  color: seashell;
  text-align: center;
}

.meus-filmes li {
    padding: 0;
    list-style: none;
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid  seashell;
    border-width: 2px;
    width: 70px;
    margin: 1.2rem auto;
}

.meus-filmes li a {
  text-decoration: none;
  margin-left: 1rem;
}

.meus-filmes li button {
  margin-left: 1rem;
  border: none;
  padding: 0.4rem;
  background-color: #0095f7;
  color: seashell;
  width: 5rem;
  border-radius: 4px;
  cursor: pointer;
}

.meus-filmes li button:hover {
  background-color: #069;
  transition: 0.5s;
}

.meus-filmes li:hover {
  background-color: rgba(119, 115, 115, 0.2);
}

.filme-listado h4 {
  width: 55rem;
  text-align: center;
  margin: -5px auto;
}

.pageNotFound {
  margin: 6rem auto;
  text-align: center;
}

.page-titulo {
  color: seashell;
}

.pageNotFound a {
  border: none;
  background-color: #0095f7;
  margin: 1rem;
  text-decoration: none;
  padding: 0.7rem;
  width: 3.7rem;
  color: seashell;
  border-radius: 5px;
}

.filme-listado p {
  border: none;
  background-color: #dce2e6;
  margin: 0.5rem auto;
  text-decoration: none;
  padding: 0.7rem;
  width: 55.7rem;
  color: rgb(37, 37, 37);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.pageNotFound a:hover {
  background-color: #069;
}

.filme-listado button a {
  text-decoration: none;
  color: white;
}

.filme-listado button {
  border: none;
  background-color: #069;
  margin: 1rem;
  text-decoration: none;
  padding: 0.7rem;
  width: 3.7rem;
  color: seashell;
  border-radius: 5px;
  width: 7.5rem;
  cursor: pointer;
}

.filme-listado button:hover {
  background-color: rgb(5, 39, 56);
  transition: 0.5s;
}
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(91, 142, 168);
    font-family: 'Montserrat', sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-radius: 12px;
    color: seashell;
  }
  
  .container img {
    border-radius: 15px;
    width: 550px;
    margin-left: 11.5rem;
  }
  
  .container li {
    list-style-type: none;
    padding-bottom: 1.4rem;
    margin-left: 2rem;
  }

  .container h2 {
    margin-left: 14rem;
  }
  
  .container a {
    display: flex;
    text-align: center;
    text-decoration: none;
    width: 65%;
    justify-content: center;
    align-items: center;
    background-color: #069;
    padding: 0.5rem 0;
    border-radius: 5px;
    color: seashell;
    margin-left: 14.7rem;
  }
  
  .container a:hover {
    background-color: #070;
  }
  
  .links-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #E6DADA;  
    background: -webkit-linear-gradient(to right, #3e549e, #3a2c79);  
    background: linear-gradient(to right, #444c96, #E6DADA); 
    width: 49.8rem;
  
  }
  
  .links-header h1 {
    color: seashell;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: -7rem;
  }
  
  .links-header a {
    text-decoration: none;
    color: #fff;
    padding: 0.7rem;
    border: none;
    border-radius: 7px;
    width: 6rem;
    border-bottom: 1px solid seashell;
    font-size: 15px;
  }
  
  .links-header a:hover {
    background-color: #077;
    border-bottom: 1px solid seashell;
  }
  
  .filme-listado {
    margin: 1rem auto;
    text-align: center;
  }
  
  .filme-listado h2 {
    color: seashell;
    margin-left: 13rem;
    margin-top: 4rem;
  }
  
  
  .filme-listado-botoes button {
    border: none;
    background-color: #045;
    margin-left: 1rem;
    color: seashell;
    padding: 0.6rem;
    width: 8rem;
    cursor: pointer;
    font-weight: 700;
  }
  
  .filme-listado-botoes button:hover {
    background-color: #065;
  }
  
  .filme-listado-botoes button a {
    text-decoration: none;
    color: seashell;
  }
  
  .filme-listado h4 {
    border: 2px solid rgb(160, 158, 157);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.2);
  }
  
  .filme-listado img {
    border-radius: 15px;
    width: 500px;
    margin-left: 4.3rem;
    margin-bottom: 2rem;
  }
  
  .favoritos-length-vazio {
    color: #000;
    margin-left: 7rem;
  }
  
  .favoritos-subtitulo {
    color: seashell;
    text-align: center;
  }
  
  .meus-filmes li {
      padding: 0;
      list-style: none;
      min-width: 600px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1rem;
      border-bottom: 1px solid  seashell;
      border-width: 2px;
      width: 70px;
      margin: 1.2rem auto;
  }
  
  .meus-filmes li a {
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .meus-filmes li button {
    margin-left: 1rem;
    border: none;
    padding: 0.4rem;
    background-color: #0095f7;
    color: seashell;
    width: 5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .meus-filmes li button:hover {
    background-color: #069;
    transition: 0.5s;
  }
  
  .meus-filmes li:hover {
    background-color: rgba(119, 115, 115, 0.2);
  }
  
  .filme-listado h4 {
    width: 25rem;
    margin-left: 8rem;
  }
  
  .pageNotFound {
    margin: 6rem auto;
    text-align: center;
  }
  
  .page-titulo {
    color: seashell;
  }
  
  .pageNotFound a {
    border: none;
    background-color: #0095f7;
    margin: 1rem;
    text-decoration: none;
    padding: 0.7rem;
    width: 3.7rem;
    color: seashell;
    border-radius: 5px;
  }
  
  .filme-listado p {
    border: none;
    background-color: #dce2e6;
    margin: 0.5rem 3rem;
    text-decoration: none;
    padding: 0.7rem;
    width: 33.7rem;
    color: rgb(37, 37, 37);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .pageNotFound a:hover {
    background-color: #069;
  }
  
  .filme-listado button a {
    text-decoration: none;
    color: white;
  }
  
  .filme-listado button {
    border: none;
    background-color: #069;
    margin: 2.5rem 16rem;
    text-decoration: none;
    padding: 0.9rem;
    color: seashell;
    border-radius: 5px;
    width: 9.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .filme-listado button:hover {
    background-color: rgb(135, 175, 196);
    transition: 0.5s;
  }
}